.contact {
   max-width: 1260px;
   margin: 0 auto;
   grid-row-start: 2;
   grid-row-end: 3;
   &__index {
      margin: 82px 0px 0px 0px;
      font-weight: normal;
      font-size: 38px;
      line-height: 52px;

      text-align: center;
   }
   &__block {
      display: flex;
      width: 1200px;
      justify-content: center;
      align-items: center;
      padding: 100px 0px 20px 0px;
   }
   &__block-index {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 60px 0px 60px 0px;
   }

   &__email {
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
         width: 70px;
      }
   }
   &__phone {
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
         width: 40px;
      }
   }
   &__map {
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
         width: 50px;
      }
   }

   &__title {
      text-align: center;
      font-weight: 600;
      font-size: 24px;
      color: #404040;
   }
   &__item {
      a {
         font-size: 18px;
         font-weight: 200;
         color: #404040;
      }
   }
}
.flex-item {
   width: 100%;
}
.flex-item-index {
   width: 100%;
   &:first-child {
      border-right: 2px solid black;
   }
}
@media (max-width: 1024px) {
   .contact {
      &__block-index {
         flex-direction: column;
         padding: 30px 0px 30px 0px;
      }
      &__index {
         font-size: 24px;
         line-height: 30px;
         padding: 20px 0 0 0;
         margin: 0px;
      }
      &__block {
         width: initial;
         padding: 20px 0 20px 0;
         flex-direction: column;
      }
      &__item {
         display: block;
         padding: 0px 20px;
         color: #404040;
         text-align: center;
      }
   }
   .flex-item-index {
      &:first-child {
         padding: 0px 0px 40px 0px;
         border-right: 0px;
      }
   }
   .flex-item {
      margin: 0px 0px 20px 0px;
   }
}

@media (max-width: 600px) {
   .flex-item-index {
      svg {
         width: 40px;
      }
   }
   .contact {
      &__title {
         font-size: 18px;
      }
      &__item {
         a {
            font-size: 14px;
         }
      }
   }
}
