.document {
   // background: -webkit-linear-gradient(90deg, rgb(167, 145, 122), rgb(255, 255, 255) 100%, rgb(174, 166, 159));
   // background: -moz-linear-gradient(90deg, rgb(167, 145, 122), rgb(255, 255, 255) 100%, rgb(174, 166, 159));
   // background: linear-gradient(90deg, rgb(167, 145, 122), rgb(255, 255, 255) 100%, rgb(174, 166, 159));
   &__title {
      padding: 30px 0px 10px 0px;
      h1 {
         text-align: center;
         font-size: 28px;
         font-weight: 600;
         color: #404040;
      }
   }

   &__info {
      max-width: 900px;
      margin: 0 auto;

      // display: flex;
      // flex-direction: column;
      // align-items: center;
   }

   &__name {
      margin: 0px 0px 20px 0px;
      p {
         text-align: center;
         font-size: 20px;
         font-weight: 400;
         color: #404040;
         &:hover {
            color: #8d5d32;
         }
      }
   }
   &__line {
      margin: 60px 0px 0px 0px;
      height: 2px;
      background: linear-gradient(to right, #ffffff, #a7917a, #8d5d32, #ffffff) 47% 0%;
   }
}

.document2 {
   background: -webkit-linear-gradient(90deg, rgb(167, 145, 122), rgb(255, 255, 255) 100%, rgb(174, 166, 159));
   background: -moz-linear-gradient(90deg, rgb(167, 145, 122), rgb(255, 255, 255) 100%, rgb(174, 166, 159));
   background: linear-gradient(90deg, rgb(167, 145, 122), rgb(255, 255, 255) 100%, rgb(174, 166, 159));
   background: linear-gradient(90deg, #a7917a, #fff 100%, #aea69f);
   &__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      svg {
         width: 40px;
         padding: 0px 20px 0px 0px;
         &:hover {
            color: #8d5d32;
         }
      }
      a {
         display: flex;
         align-items: center;
         padding: 40px 0px 0px 0px;
         color: #404040;
         outline: none;
         font-size: 24px;
         font-weight: 600;

         &:hover {
            color: #8d5d32;
         }
      }
   }
   &__project {
      margin: 0px 0px 40px 0px;
   }
}
.document3 {
   margin: 60px 0 0 0;
   &__block {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
         width: 40px;
         padding: 0px 20px 0px 0px;
         &:hover {
            color: #8d5d32;
         }
      }
      a {
         color: #404040;
         outline: none;
         font-size: 22px;
         font-weight: 500;
         display: flex;
         align-items: center;
         &:hover {
            color: #8d5d32;
         }
      }
   }
}
@media (max-width: 1024px) {
   .document {
      &__line {
         margin: 20px 0 0 0;
      }
      &__title {
         h1 {
            font-size: 20px;
            font-weight: 600;
         }
      }
      &__info {
         padding: 0px 20px;
      }
      &__name {
         p {
            font-size: 14px;
         }
      }
   }
   .document2 {
      &__block {
         padding: 0px 20px;
         svg {
            width: 50px;
         }
         a {
            font-size: 18px;
            text-align: center;
         }
      }
      &__project {
         margin: 0 0 10px 0;
         img {
            width: 300px;
            height: auto;
         }
      }
   }
   .document3 {
      &__block {
         padding: 0px 20px;
         svg {
            width: 50px;
         }
         a {
            font-size: 18px;
            text-align: center;
         }
      }
   }
}
