.container {
  max-width: 1600px;
  padding: 10px 10px;
  margin: 0 auto;
}
header {
  background-color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    img {
      width: 200px;
    }
  }

  &__nav {
  }

  &__nav-list {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 0px;
  }

  &__nav-item {
    list-style-type: none;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 50px 0px 0px;
    &:last-child {
      padding: 0px 0px 0px 0px;
    }
  }

  &__nav-link {
    color: #404040;
  }

  &__phone {
    display: flex;
    align-items: center;
  }
  &__phone-link {
    margin: 0px 0px 0px 20px;
    color: #404040;
    font-size: 18px;
  }
}

header {
  border-top: 0px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #ffffff, #a7917a, #8d5d32, #ffffff) 47% 0%;
}
.header-mobile {
  &__nav {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header-mobile {
    &__nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    &__nav-list {
      width: 100%;
      margin: 0px;
      padding: 0px 0px 20px 0px;
      text-align: center;
    }

    &__nav-item {
      list-style-type: none;
      font-size: 18px;
      font-weight: 400;
      padding: 0px 0px 10px 0px;
      &:first-child {
        padding: 10px 0px 10px 0px;
      }
    }

    &__nav-link {
      color: #404040;
    }
  }
  .header {
    &__nav {
      display: none;
    }
    &__logo {
      img {
        width: 120px;
      }
    }
    &__phone {
      a {
        font-size: 14px;
      }
      svg {
        width: 20px;
      }
    }
  }
}
