.question {
   max-width: 1260px;
   margin: 0 auto;
   padding: 82px 10px 0;
   grid-row-start: 2;
   grid-row-end: 3;
}
.question__checkbox {
   input {
      width: 20px;
      height: 20px;
   }
   label {
      margin: 0px 0px 0px 15px;
      font-size: 17px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 4px;
      color: black;
   }
}
.question__header {
   font-weight: normal;
   font-size: 36px;
   line-height: 52px;
   margin: 0;
   text-align: center;
}

.question__form {
   max-width: 520px;
   margin: 40px auto 55px;
   display: grid;
   grid-template-rows: 66px 66px 66px 190px;
   grid-row-gap: 20px;

   &--invalid {
      animation: shake 0.6s;
   }
}
.question__form-submit {
   width: 50%;
   margin: 0 auto;
   font-size: 16px;
   height: 40px;
   border: 2px solid #8d5d32;
   cursor: pointer;
   background: transparent;
   &:active {
      color: white;
      background: #a7917a;
   }
   &:hover {
      color: white;
      background: #a7917a;
   }
}

.question__input-wrapper {
   display: flex;
   flex-direction: column;
   position: relative;

   &--textarea {
      margin-top: 18px;
   }
}

.question__label {
   font-size: 15px;
   font-weight: 400;
   line-height: 20px;
   margin-bottom: 4px;
   color: black;
}

.question__input {
   margin: 0;
   padding: 0 5px;
   height: 100%;
   border: 2px solid #d1d2d4;
   outline: none;

   &:hover {
      border: 2px solid #a7917a;
   }
   &:active {
      border: 2px solid #a7917a;
   }
   &:focus {
      border: 2px solid #a7917a;
   }

   &--textarea {
      padding-top: 5px;
      resize: none;
   }

   &--invalid {
      border: 2px solid #d63030;
   }

   &--invalid ~ .question__invalid-input {
      display: block;
   }
}

.question__invalid-input {
   position: absolute;
   display: none;
   font-size: 12px;
   color: #d63030;
   bottom: calc(-1em - 6px);
}

@media (max-width: 950px) {
   .question__header {
      font-size: 24px;
      line-height: 32px;
   }
   .question {
      padding: 22px 10px 0;
   }
}
